In [1]:
%matplotlib inline
import numpy as np
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt
from sklearn.metrics.pairwise import cosine_similarity
from scipy.cluster import hierarchy

In [2]:
data = pd.read_pickle("./data/dataframe.pkl")
data.head()

,script,nodes,edges,nodes_males,edges_males,nodes_females,edges_females,degree_min,degree_mean,degree_median,degree_max,male_degree_min,male_degree_mean,male_degree_median,male_degree_max,female_degree_min,female_degree_mean,female_degree_median,female_degree_max
0,./data/by_movie/elizabeth_the_golden_age.xml,38,136,20,54,10,20,1,7.157895,5.0,24,1,5.400000,5.0,13,1,4.00,4.5,7
1,./data/by_movie/angel_eyes.xml,23,62,15,28,4,8,1,5.391304,4.0,19,0,3.733333,3.0,13,3,4.00,4.0,5
2,./data/by_movie/synecdoche_new_york.xml,39,106,14,22,12,24,1,5.435897,4.0,34,0,3.142857,3.0,14,0,4.00,4.0,8
3,./data/by_movie/even_cowgirls_get_the_blues.xml,24,67,10,18,8,9,3,5.583333,4.0,19,1,3.600000,3.5,8,0,2.25,2.0,6
4,./data/by_movie/detroit_rock_city.xml,28,84,14,39,4,2,1,6.000000,4.5,18,1,5.571429,4.5,12,0,1.00,1.0,2

In [3]:
data.tail()

,script,nodes,edges,nodes_males,edges_males,nodes_females,edges_females,degree_min,degree_mean,degree_median,degree_max,male_degree_min,male_degree_mean,male_degree_median,male_degree_max,female_degree_min,female_degree_mean,female_degree_median,female_degree_max
449,./data/by_movie/fight_club.xml,29,64,13,27,3,5,1,4.413793,3.0,28,1,4.153846,3.0,13,3,3.333333,3.0,4
450,./data/by_movie/groundhog_day.xml,33,72,18,27,7,6,1,4.363636,3.0,29,0,3.000000,2.0,17,0,1.714286,1.0,5
451,./data/by_movie/anonymous.xml,34,110,20,51,3,3,1,6.470588,5.5,23,0,5.100000,4.5,17,2,2.000000,2.0,2
452,./data/by_movie/hackers.xml,25,99,14,43,3,5,2,7.920000,6.0,19,1,6.142857,5.0,14,3,3.333333,3.0,4
453,./data/by_movie/apocalypse_now.xml,30,100,22,71,5,4,1,6.666667,5.5,28,1,6.454545,5.5,21,0,1.600000,2.0,2

# Clustering
First, lets get cosine similarity between movies' graphs

In [11]:
X = data._get_numeric_data().values
dist_mtx = cosine_similarity(X)

In [12]:
dist_mtx

array([[ 1.        ,  0.98398843,  0.9727782 , ...,  0.98982451,
         0.99313613,  0.96439236],
       [ 0.98398843,  1.        ,  0.96973342, ...,  0.98756744,
         0.98500855,  0.97427993],
       [ 0.9727782 ,  0.96973342,  1.        , ...,  0.95160075,
         0.95475052,  0.90694083],
       ...,
       [ 0.98982451,  0.98756744,  0.95160075, ...,  1.        ,
         0.99712363,  0.98379034],
       [ 0.99313613,  0.98500855,  0.95475052, ...,  0.99712363,
         1.        ,  0.97755915],
       [ 0.96439236,  0.97427993,  0.90694083, ...,  0.98379034,
         0.97755915,  1.        ]])

In [13]:
dist_mtx.shape

(454, 454)

Given $X$ movie, return $N$-most similar movies

In [9]:
script = "./data/by_movie/x_men.xml"
i = data[(data.script == script)].index.tolist()[0]

distances = np.copy(dist_mtx[i, :])
data.script.iloc[distances.argsort()[-10:][::-1]]

92                        ./data/by_movie/x_men.xml
281            ./data/by_movie/eastern_promises.xml
355    ./data/by_movie/someone_to_watch_over_me.xml
447            ./data/by_movie/perfect_creature.xml
7                      ./data/by_movie/die_hard.xml
441          ./data/by_movie/death_at_a_funeral.xml
97                       ./data/by_movie/legion.xml
210                    ./data/by_movie/scream_3.xml
396                 ./data/by_movie/drive_angry.xml
157    ./data/by_movie/buffy_the_vampire_slayer.xml
Name: script, dtype: object

In [15]:
script = "./data/by_movie/toy_story.xml"
i = data[(data.script == script)].index.tolist()[0]

distances = np.copy(dist_mtx[i, :])
data.script.iloc[distances.argsort()[-10:][::-1]]

317                  ./data/by_movie/toy_story.xml
246    ./data/by_movie/star_trek_first_contact.xml
194         ./data/by_movie/cowboys_and_aliens.xml
293             ./data/by_movie/fantastic_four.xml
437            ./data/by_movie/mission_to_mars.xml
107                ./data/by_movie/in_the_loop.xml
345                ./data/by_movie/crime_spree.xml
116                 ./data/by_movie/confidence.xml
250              ./data/by_movie/lost_in_space.xml
263        ./data/by_movie/from_dusk_till_dawn.xml
Name: script, dtype: object

In [16]:
script = "./data/by_movie/lost_in_translation.xml"
i = data[(data.script == script)].index.tolist()[0]

distances = np.copy(dist_mtx[i, :])
data.script.iloc[distances.argsort()[-10:][::-1]]

12     ./data/by_movie/lost_in_translation.xml
342        ./data/by_movie/american_psycho.xml
179                  ./data/by_movie/shame.xml
282              ./data/by_movie/beginners.xml
138          ./data/by_movie/high_fidelity.xml
253               ./data/by_movie/sideways.xml
47            ./data/by_movie/agnes_of_god.xml
306              ./data/by_movie/assassins.xml
440          ./data/by_movie/light_sleeper.xml
424           ./data/by_movie/suspect_zero.xml
Name: script, dtype: object